header {
    background: linear-gradient(#484848, #272727);
    height: 72px;
    border-bottom: 3px solid #07904e;
}

.container_header{
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head_menu li {
    display: inline-block;
}

main{
    background: url("../img/background.jpg") no-repeat center;
    background-size: cover;
}

.container_main{
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.main_row1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

form{
    max-width: 270px;
    margin: 25px 10px 0 0;
    padding: 20px 15px;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.4)
}

form label{
    color: white;
    font-size: 24px;
    letter-spacing: 0.24px;
}

form p{
    color: white;
    font-size: 11px;
    letter-spacing: 0.11px;
    margin-top: 10px;
}

form input{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border-radius: 10px;
    outline: none;
}

form button{
    background: linear-gradient(#fd0201, #a91d16);
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    letter-spacing: 0.2px;
    outline: none;
    border: 0;
    float: right;
}

.main_text{
    max-width: 265px;
    margin-top: 25px;
}

.main_text p{
    color: white;
    font-size: 36px;
    letter-spacing: 0.36px;
}

.main_row2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.main_button{
    padding: 20px 15px;
    margin-top: 15px;
    border-radius: 6px;
    background-color:rgba(0,0,0,0.4)
}

.main_button p{
    text-align: center;
    color: white;
    font-size: 18px;
    letter-spacing: 0.18px;
    margin-bottom: 10px;
}

.main_button button{
    background: linear-gradient(#1cbf71, #076a3b);
    width: 270px;
    padding: 10px;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    letter-spacing: 0.2px;
    outline: none;
    border: 0;
}

.main_row3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tab{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px #000;
    margin: 80px 5px 60px 0;
    max-width: 240px;
    overflow: hidden;
}

.tab button{
    background: linear-gradient(#fe7b1d, #e26f1b);
    margin: 10px 20px 5px 20px;
    padding: 10px;
    border-radius: 6px;
    color: white;
    font-size: 17px;
    letter-spacing: 0.17px;
    outline: none;
}

.color_label1{
    padding-left: 10px;
    background-color: #c1611a;
    font-size: 22px;
    line-height: 43px;
    color: white;
}

.color_label2{
    padding-left: 10px;
    background-color: #2781ec;
    font-size: 22px;
    line-height: 43px;
    color: white;
}

.color_label3{
    padding-left: 10px;
    background-color: #92af22;
    font-size: 22px;
    line-height: 43px;
    color: white;
}

.color_label4{
    padding-left: 10px;
    background-color: #ec5d3a;
    font-size: 22px;
    line-height: 43px;
    color: white;
}

.sponsor{
    background: #2d2d2d;
}

.sponsor_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    padding: 20px 0 20px 0;
    margin: auto;
}

footer{
    background: #212121;
}

.footer_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.footer_tab{
    color: #7d7d7d;
    margin: 30px 0 60px 0;
}

.footer_tab p{
    font-size: 16px;
    letter-spacing: 0.16px;
}

.footer_tab hr{
    border: 0;
    height: 1px;
    background: #333;
}

.footer_tab li{
    text-align: center;
    padding-bottom: 5px;
}

.footer_tab a{
    text-decoration: none;
    color: #7d7d7d;
}

.footer_tab a:hover{
    text-decoration: underline;
}

.copyright {
    color: #424242;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    font-size: 10px;
    letter-spacing: 0.1px;
    padding-bottom: 20px;
}































